<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpPlatform>
      <environmentVariables>
        <environmentVariable name="JAVA_OPTS" value="-Xmx2G" />
      </environmentVariables>
    </httpPlatform>
	<customErrors mode="Off" />
	<httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>
</configuration>